@using Microsoft.AspNetCore.Identity
@using Blogging_Platform.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a href="/Article/Create" class="btn btn-primary text-white">Write</a>
        </li>
        <li class="nav-item" style="margin-left:2px;">
            <a href="/Article/Index" class="btn btn-dark text-white">Articles</a>
        </li>

        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/User/Profile">Profile</a></li>
            <li><a class="dropdown-item" href="/User/Settings">Settings</a></li>
            <li><a class="dropdown-item" href="/Article/Index">Articles</a></li>
            <li><a class="dropdown-item" href="/Article/Create">Write</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Identity/Account/Logout">Logout</a></li>
        </ul>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
