@using Microsoft.AspNetCore.Identity
@using Blogging_Platform.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/User/Dashboard">Dashboard</a></li>
        <li><a class="dropdown-item" href="/User/Profile/@UserManager.GetUserAsync(User).Result.Id">Profile</a></li>
        <li><a class="dropdown-item" href="/User/Settings">Settings</a></li>
        <li><a class="dropdown-item" href="/Article/Create">Write</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/Identity/Account/Logout">Logout</a></li>
    </ul>

    @* <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
    <li class="nav-item">
        <a href="/Article/Create" class="btn btn-dark" style="border-radius:20px;">Write</a>    
    </li>
    <li class="nav-item" style="margin-left:2px;">
        <a href="/Article/Index" class="btn btn-secondary" style="border-radius:20px;">Articles</a>
    </li> *@
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
