@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Pages/Shared/_AuthenticationLayout.cshtml";
}

<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2>Create a new account.</h2>
                            <hr />

                            @*Activate validation for form*@
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            @*Full Name entry*@
                            <div class="form-outline mb-4">
                                <label asp-for="Input.FullName" class="form-label" for="typeEmailX-2">Full Name</label>
                                <input asp-for="Input.FullName" type="text" id="typeEmailX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.FullName" class="text-danger"></span>
                            </div>

                            @*Email entry*@
                            <div class="form-outline mb-4">
                                <label asp-for="Input.Email" class="form-label" for="typePasswordX-2">Email</label>
                                <input asp-for="Input.Email" type="email" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            @*Phone Number entry*@
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="Input.PhoneNumber" class="form-label" for="typePasswordX-2">Phone Number</label>
                                <input asp-for="Input.PhoneNumber" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>

                            @*Password entry*@
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="Input.Password" class="form-label" for="typePasswordX-2">Password</label>
                                <input asp-for="Input.Password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            @*Re-Password entry*@
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label asp-for="Input.ConfirmPassword" class="form-label" for="typePasswordX-2">Re-Enter Password</label>
                                <input asp-for="Input.ConfirmPassword" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
