@{
    ViewData["Title"] = "Create new Article";
}

<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <label class="form-label">Article Title</label>
        <input class="form-control" type="text" name="ArticleTitle"/>
    </div>

    <div class="row">
        <label class="form-label">Article Thumbnail</label>
        <input class="form-control" type="file" name="ArticleThumbnail" />
    </div>

    <div class="row">
        <label class="form-label">Article Content</label>
        <input class="form-control" type="text" name="ArticleContent" />
    </div>

    <div class="form-group">
        <label class="control-label">Article Category</label>
        <select class="form-control" name="CategoryId">
            @foreach (var item in ViewBag.CategoryId)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>