@using Blogging_Platform.Models;
@model List<Article>
@{
    ViewData["Title"] = "Search";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Search Articles</h1>

                    <form method="get" action="/Article/Search">
                        <div class="form-group" style="display:flex;">
                            <input type="text" class="form-control" id="searchbar" name="query"/>
                            <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>



@if (Model != null && Model.Any())
{
    <div class="container px-4 px-lg-5 mt-4">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @{
                    foreach (var article in Model)
                    {
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="/Article/Details/@article.ArticleId">
                                <h2 class="post-title">@article.ArticleTitle</h2>
                                <h3 class="post-subtitle">
                                    @{
                                        if (article.ArticleContent.Length < 100)
                                        {
                                            Html.Raw(article.ArticleContent);
                                        }
                                    }
                                </h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">@article.UserFullName</a>
                                on @article.CreatedAt.ToString("MMMM dd, yyyy")
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4">
                    }
                }
            </div>
        </div>
    </div>
}
else if (Model != null)
{
    <p class="text-center">No articles found.</p>
}
